.kiteCustomization{
	position: relative;
	width: 100%;
}
.kiteCustomization .toggle-btn{
    position: absolute;
    top: -40px;
    z-index: 9999;
    left: 150px;
}

.kiteCustomization iframe{
	float: left;
    width: 70%;
    height: 350px;
    border: none;
}

.kiteCustomization .stock_container{
	float: right;
	width: 28%;
}
.kiteCustomization .change-up{
	color: #4caf50;
}
.kiteCustomization .change-down{
	color: #df514c;
}
.kiteCustomization .stock_data input{width: 20px;}
.kiteCustomization .stock_price{font-size: 25px;}
.switch {
  position: relative;
  display: inline-block;
  width: 30px;
  height: 17px;
}

.switch input {display:none;}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 13px;
  width: 13px;
  left: 2px;
  bottom: 2px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(13px);
  -ms-transform: translateX(13px);
  transform: translateX(13px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 17px;
}

.slider.round:before {
  border-radius: 50%;
}